[submodule "examples/webpack-example"]
	path = examples/webpack-example
	url = https://github.com/callemall/material-ui-webpack-example.git
	branch = master
[submodule "examples/browserify-gulp-example"]
	path = examples/browserify-gulp-example
	url = https://github.com/callemall/material-ui-browserify-gulp-example.git
	branch = master

[submodule "atmosphere/appointment"]
	path = atmosphere/appointment
	url = http://github.com/clinical-meteor/hl7-resource-appointment
[submodule "atmosphere/careplan"]
	path = atmosphere/careplan
	url = http://github.com/clinical-meteor/hl7-resource-careplan
[submodule "atmosphere/clinical-impression"]
	path = atmosphere/clinical-impression
	url = http://github.com/clinical-meteor/hl7-resource-clinical-impression
[submodule "atmosphere/diagnostic-report"]
	path = atmosphere/diagnostic-report
	url = http://github.com/clinical-meteor/hl7-resource-diagnostic-report
[submodule "atmosphere/diagnostic-order"]
	path = atmosphere/diagnostic-order
	url = http://github.com/clinical-meteor/hl7-resource-diagnostic-order
[submodule "atmosphere/encounter"]
	path = atmosphere/encounter
	url = http://github.com/clinical-meteor/hl7-resource-encounter
[submodule "atmosphere/family-member-history"]
	path = atmosphere/family-member-history
	url = http://github.com/clinical-meteor/hl7-resource-family-member-history

[submodule "atmosphere/patient"]
	path = atmosphere/patient
	url = http://github.com/clinical-meteor/hl7-resource-patient
[submodule "atmosphere/healthcare-service"]
	path = atmosphere/healthcare-service
	url = http://github.com/clinical-meteor/hl7-resource-healthcare-service
[submodule "atmosphere/imaging-study"]
	path = atmosphere/imaging-study
	url = http://github.com/clinical-meteor/hl7-resource-imaging-study
[submodule "atmosphere/location"]
	path = atmosphere/location
	url = http://github.com/clinical-meteor/hl7-resource-location
[submodule "atmosphere/medication"]
	path = atmosphere/medication
	url = http://github.com/clinical-meteor/hl7-resource-medication
[submodule "atmosphere/medication-order"]
	path = atmosphere/medication-order
	url = http://github.com/clinical-meteor/hl7-resource-medication-order
[submodule "atmosphere/order"]
	path = atmosphere/order
	url = http://github.com/clinical-meteor/hl7-resource-order
[submodule "atmosphere/organization"]
	path = atmosphere/organization
	url = http://github.com/clinical-meteor/hl7-resource-organization
[submodule "atmosphere/device"]
	path = atmosphere/device
	url = http://github.com/clinical-meteor/hl7-resource-device
[submodule "atmosphere/condition"]
	path = atmosphere/condition
	url = http://github.com/clinical-meteor/hl7-resource-condition
[submodule "atmosphere/person"]
	path = atmosphere/person
	url = http://github.com/clinical-meteor/hl7-resource-person
[submodule "atmosphere/practitioner"]
	path = atmosphere/practitioner
	url = http://github.com/clinical-meteor/hl7-resource-practitioner
[submodule "atmosphere/procedure"]
	path = atmosphere/procedure
	url = http://github.com/clinical-meteor/hl7-resource-procedure
[submodule "atmosphere/questionnaire"]
	path = atmosphere/questionnaire
	url = http://github.com/clinical-meteor/hl7-resource-questionnaire
[submodule "atmosphere/questionnaire-response"]
	path = atmosphere/questionnaire-response
	url = http://github.com/clinical-meteor/hl7-resource-questionnaire-response
[submodule "atmosphere/related-person"]
	path = atmosphere/related-person
	url = http://github.com/clinical-meteor/hl7-resource-related-person
[submodule "atmosphere/risk-assessment"]
	path = atmosphere/risk-assessment
	url = http://github.com/clinical-meteor/hl7-resource-risk-assessment
[submodule "atmosphere/sequence"]
	path = atmosphere/sequence
	url = http://github.com/clinical-meteor/hl7-resource-sequence
[submodule "atmosphere/specimen"]
	path = atmosphere/specimen
	url = http://github.com/clinical-meteor/hl7-resource-specimen
[submodule "examples/meteor-on-fhir"]
	path = examples/meteor-on-fhir
	url = http://github.com/clinical-meteor/meteor-on-fhir
[submodule "atmosphere/observation"]
	path = atmosphere/observation
	url = http://github.com/clinical-meteor/hl7-resource-observation
